classes

In [ ]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate = 0.2, symbol = '$'):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1 + bonus_rate)
    self.calculated_interest = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,}'

  def calculate_salary(self):
    return f'{self.symbol}{self.total_salary:,}'

  def interest(self):
    return f'{self.symbol}{self.calculated_interest:,}'

In [ ]:
salary = BaseSalary(1000000)

salary.base_salary #called like this because base_salary is an attribute

1000000

to format the output

In [ ]:
print(salary)

$1,000,000

In [ ]:
salary.interest()

'$200,000.0'